
{{> navbar}}



<main >

  <section class=" d-flex justify-content-center align-items-center">
    <img class="w-100" src="https://www.motorlandautosales.ca/wp-content/uploads/2022/04/banner.png" alt="">
    <a href="https://schedule.nylas.com/cindyxin1109-30min" class="btn btn-danger position-absolute">
      <i class="fa fa-calendar mr-2" aria-hidden="true"></i>
      Book an appointment
    </a>
  </section>
  
  <section class="d-flex justify-content-center flex-column align-items-center bg-dark text-white mt-5 vh-100">
    
    <section class="row  d-flex justify-content-center align-items-center flex-column w-75">
      <h4 class=" text-center">Search Inventory</h4>


        <form id="search-form" class="row mt-5 " action="/cars">

          {{!-- year --}}
             <div class="dropdown col-md-3">
              <select name="year" class="form-select btn-light btn btn-lg" id="year-toggle">
                 <option disabled hidden selected>All years</option>
                 {{!-- year options go here --}}
              </select>
            </div>

            {{!-- make --}}
            <div class="dropdown col-md-3">
              <select name="make" class="form-select btn-light btn btn-lg" id="make-toggle" aria-label="Default select example" disabled>
                <option disabled hidden selected>All makes</option>
                  {{!-- make options go here --}}
              </select>
            </div>

            {{!-- model --}}
            <div class="dropdown col-md-3">
              <select name="model" class="form-select btn-light btn btn-lg" id="model-toggle" aria-label="Default select example">
                <option disabled hidden selected>All models</option>
                  {{!-- model options go here  --}}
              </select>
            </div>
   
 
             {{!-- search button --}}
            <button id="search-filter" type="submit" class="btn btn-danger col-md-2" disabled>
             <i class="fa fa-search mr-2"></i>
             Search
            </button>

        </form>

        <form class="text-center d-flex justify-content-center flex-column align-items-center py-3 mt-5" method="get"  action="/cars">
              --OR--

              <button type="submit" class="btn btn-lg btn-danger mt-3">view inventory</button>
        </form>
            

      


    </section>
  </section>
    
    

</main>

<script  src="./javascript/home.js"></script>